:root {
    --main-color: #2e7d32;
    --menu-dark-color: #33420B;
    --menu-medium-color: #97be99;
    --menu-light-color: #abcbad;
    --petcal-main-color: #ef6c00;
}



#mobile-menu {
    z-index: 2;
    margin-bottom: 0;

}



#menu-bar {
    width: 35px;
    height: 30;
    padding: 20px 10px;
    margin: 10px -10px 0px 10px;
    /* margin: 30px 0 20px 20px; */
    cursor: pointer;
    background-color: var(--menu-light-color);
    background-size: 50px 50px;
    border-radius: 50%;


}



.bar {
    height: 5px;
    width: 100%;
    background-color: white;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav {
    transition: 0.3s ease;
    display: none;
}


.nav ul {
    padding: 0 12px;
    margin-top: 0;
}

nav a {
    color: var(--menu-dark-color);
}

.nav li {
    list-style: none;
    padding: 3px 0;
    margin-left: 1.5em;
    /* font-size: 1.3rem; */
}

.nav li .nav li a {
    color: black;
    text-decoration: none;
}

.hamburger-h3 {
    color: black;
    line-height: 0;
    margin-left: -0.8em;
}

li h4 {
    margin-bottom: 0.2em;
    margin-top: 15px;
}


li h3 {
    margin-bottom: 0.2em;
    margin-top: 30px;
}

.hamburger-h4 {
    line-height: 0;
    margin-left: -0.7em;
    margin-bottom: 0em;
}

.nav li a:hover {

    color: var(--menu-medium-color);
}

.menu-link-container li a:hover {

    color: var(--menu-medium-color);
}


.menu-bg,
#mobile-menu {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 75px;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    /* background-color: white; */
    background-color: var(--menu-light-color);
    transition: 0.3s ease;

}

.change {
    display: block;
}

.change .bar {
    background-color: white;
}


.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
    width: 600px;
    height: 690px;
    transform: translate(-60%, -30%);
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-bottom-right-radius: 20px;


}

@media (min-width: 700px) {

    .menu-bg,
    #mobile-menu {
        width: 700px;
        left: auto;

    }
}

@media (min-width: 1030px) {

    #mobile-menu,
    .menu-bg {
        display: none;
    }
}